In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
employ_file= "DP_LIVE_06082019033543494.csv"

In [6]:
employ_df = pd.read_csv(employ_file)
employ_df.head()

  LOCATION INDICATOR SUBJECT   MEASURE FREQUENCY  TIME   Value Flag Codes
0      AUS       EMP     MEN  THND_PER         A  1965  3346.5        NaN
1      AUS       EMP     MEN  THND_PER         A  1966  3362.5        NaN
2      AUS       EMP     MEN  THND_PER         A  1967  3412.5        NaN
3      AUS       EMP     MEN  THND_PER         A  1968  3474.0        NaN
4      AUS       EMP     MEN  THND_PER         A  1969  3548.0        NaN

In [11]:
employ_new_df=employ_df[["LOCATION","INDICATOR","SUBJECT","TIME","Value"]]
employ_new_df

      LOCATION INDICATOR SUBJECT     TIME       Value
0          AUS       EMP     MEN     1965  3346.50000
1          AUS       EMP     MEN     1966  3362.50000
2          AUS       EMP     MEN     1967  3412.50000
3          AUS       EMP     MEN     1968  3474.00000
4          AUS       EMP     MEN     1969  3548.00000
5          AUS       EMP     MEN     1970  3643.50000
6          AUS       EMP     MEN     1971  3707.50000
7          AUS       EMP     MEN     1972  3758.50000
8          AUS       EMP     MEN     1973  3825.50000
9          AUS       EMP     MEN     1974  3868.75000
10         AUS       EMP     MEN     1975  3831.00000
11         AUS       EMP     MEN     1976  3863.00000
12         AUS       EMP     MEN     1977  3879.00000
13         AUS       EMP     MEN     1978  3884.01900
14         AUS       EMP     MEN     1979  3932.37100
15         AUS       EMP     MEN     1980  3997.74800
16         AUS       EMP     MEN     1981  4073.07700
17         AUS       EMP     MEN     1982  4057.55000
18         AUS       EMP     MEN     1983  3946.84700
19         AUS       EMP     MEN     1984  4042.37000
20         AUS       EMP     MEN     1985  4126.37200
21         AUS       EMP     MEN     1986  4234.26500
22         AUS       EMP     MEN     1987  4290.98900
23         AUS       EMP     MEN     1988  4423.41000
24         AUS       EMP     MEN     1989  4566.01700
25         AUS       EMP     MEN     1990  4600.22500
26         AUS       EMP     MEN     1991  4449.52100
27         AUS       EMP     MEN     1992  4402.28000
28         AUS       EMP     MEN     1993  4403.29200
29         AUS       EMP     MEN     1994  4532.23100
...        ...       ...     ...      ...         ...
50588      LTU       EMP   WOMEN  2011-Q4    60.62232
50589      LTU       EMP   WOMEN  2012-Q1    61.16632
50590      LTU       EMP   WOMEN  2012-Q2    62.08527
50591      LTU       EMP   WOMEN  2012-Q3    62.42150
50592      LTU       EMP   WOMEN  2012-Q4    61.56718
50593      LTU       EMP   WOMEN  2013-Q1    62.15012
50594      LTU       EMP   WOMEN  2013-Q2    63.15028
50595      LTU       EMP   WOMEN  2013-Q3    62.96361
50596      LTU       EMP   WOMEN  2013-Q4    63.03539
50597      LTU       EMP   WOMEN  2014-Q1    63.77485
50598      LTU       EMP   WOMEN  2014-Q2    64.67145
50599      LTU       EMP   WOMEN  2014-Q3    65.82874
50600      LTU       EMP   WOMEN  2014-Q4    65.21783
50601      LTU       EMP   WOMEN  2015-Q1    65.33696
50602      LTU       EMP   WOMEN  2015-Q2    66.44633
50603      LTU       EMP   WOMEN  2015-Q3    67.01315
50604      LTU       EMP   WOMEN  2015-Q4    67.10929
50605      LTU       EMP   WOMEN  2016-Q1    68.11917
50606      LTU       EMP   WOMEN  2016-Q2    68.85947
50607      LTU       EMP   WOMEN  2016-Q3    69.10220
50608      LTU       EMP   WOMEN  2016-Q4    69.29444
50609      LTU       EMP   WOMEN  2017-Q1    69.12239
50610      LTU       EMP   WOMEN  2017-Q2    70.67175
50611      LTU       EMP   WOMEN  2017-Q3    70.44198
50612      LTU       EMP   WOMEN  2017-Q4    70.62258
50613      LTU       EMP   WOMEN  2018-Q1    70.41258
50614      LTU       EMP   WOMEN  2018-Q2    70.81486
50615      LTU       EMP   WOMEN  2018-Q3    72.89211
50616      LTU       EMP   WOMEN  2018-Q4    72.16740
50617      LTU       EMP   WOMEN  2019-Q1    72.19672

[50618 rows x 5 columns]

In [10]:
employ_group=employ_new_df.groupby(["LOCATION"])
employ_group