In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
employ_file= "DP_LIVE_Employdata.csv"
GDP_file="DP_LIVE_GDPdata.csv"

In [3]:
employ_df = pd.read_csv(employ_file)
employ_df = employ_df.loc[employ_df['MEASURE'] == 'PC_WKGPOP'] #removing the measure = THND_PER; keeping only 0-100 perc. rate
employ_df

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
163,AUS,EMP,MEN,PC_WKGPOP,A,1979,82.10677,NaN
164,AUS,EMP,MEN,PC_WKGPOP,A,1980,82.25813,NaN
165,AUS,EMP,MEN,PC_WKGPOP,A,1981,82.32400,NaN
166,AUS,EMP,MEN,PC_WKGPOP,A,1982,80.50681,NaN
167,AUS,EMP,MEN,PC_WKGPOP,A,1983,76.92610,NaN
168,AUS,EMP,MEN,PC_WKGPOP,A,1984,77.40482,NaN
169,AUS,EMP,MEN,PC_WKGPOP,A,1985,77.65910,NaN
170,AUS,EMP,MEN,PC_WKGPOP,A,1986,78.21666,NaN
171,AUS,EMP,MEN,PC_WKGPOP,A,1987,77.72889,NaN
172,AUS,EMP,MEN,PC_WKGPOP,A,1988,78.56184,NaN
173,AUS,EMP,MEN,PC_WKGPOP,A,1989,79.80524,NaN
174,AUS,EMP,MEN,PC_WKGPOP,A,1990,79.21233,NaN
175,AUS,EMP,MEN,PC_WKGPOP,A,1991,75.75577,NaN
176,AUS,EMP,MEN,PC_WKGPOP,A,1992,74.16051,NaN
177,AUS,EMP,MEN,PC_WKGPOP,A,1993,73.69975,NaN
178,AUS,EMP,MEN,PC_WKGPOP,A,1994,75.05529,NaN
179,AUS,EMP,MEN,PC_WKGPOP,A,1995,76.38482,NaN
180,AUS,EMP,MEN,PC_WKGPOP,A,1996,76.30370,NaN
181,AUS,EMP,MEN,PC_WKGPOP,A,1997,75.84586,NaN
182,AUS,EMP,MEN,PC_WKGPOP,A,1998,76.17059,NaN
183,AUS,EMP,MEN,PC_WKGPOP,A,1999,76.59881,NaN
184,AUS,EMP,MEN,PC_WKGPOP,A,2000,76.92454,NaN
185,AUS,EMP,MEN,PC_WKGPOP,A,2001,76.35796,NaN
186,AUS,EMP,MEN,PC_WKGPOP,A,2002,76.68957,NaN
187,AUS,EMP,MEN,PC_WKGPOP,A,2003,77.05504,NaN
188,AUS,EMP,MEN,PC_WKGPOP,A,2004,77.60509,NaN
189,AUS,EMP,MEN,PC_WKGPOP,A,2005,78.50571,NaN
190,AUS,EMP,MEN,PC_WKGPOP,A,2006,78.80980,NaN
191,AUS,EMP,MEN,PC_WKGPOP,A,2007,79.54396,NaN
192,AUS,EMP,MEN,PC_WKGPOP,A,2008,79.68430,NaN
...,...,...,...,...,...,...,...,...
50588,LTU,EMP,WOMEN,PC_WKGPOP,Q,2011-Q4,60.62232,NaN
50589,LTU,EMP,WOMEN,PC_WKGPOP,Q,2012-Q1,61.16632,NaN
50590,LTU,EMP,WOMEN,PC_WKGPOP,Q,2012-Q2,62.08527,NaN
50591,LTU,EMP,WOMEN,PC_WKGPOP,Q,2012-Q3,62.42150,NaN
50592,LTU,EMP,WOMEN,PC_WKGPOP,Q,2012-Q4,61.56718,NaN
50593,LTU,EMP,WOMEN,PC_WKGPOP,Q,2013-Q1,62.15012,NaN
50594,LTU,EMP,WOMEN,PC_WKGPOP,Q,2013-Q2,63.15028,NaN
50595,LTU,EMP,WOMEN,PC_WKGPOP,Q,2013-Q3,62.96361,NaN
50596,LTU,EMP,WOMEN,PC_WKGPOP,Q,2013-Q4,63.03539,NaN
50597,LTU,EMP,WOMEN,PC_WKGPOP,Q,2014-Q1,63.77485,NaN
50598,LTU,EMP,WOMEN,PC_WKGPOP,Q,2014-Q2,64.67145,NaN
50599,LTU,EMP,WOMEN,PC_WKGPOP,Q,2014-Q3,65.82874,NaN
50600,LTU,EMP,WOMEN,PC_WKGPOP,Q,2014-Q4,65.21783,NaN
50601,LTU,EMP,WOMEN,PC_WKGPOP,Q,2015-Q1,65.33696,NaN
50602,LTU,EMP,WOMEN,PC_WKGPOP,Q,2015-Q2,66.44633,NaN
50603,LTU,EMP,WOMEN,PC_WKGPOP,Q,2015-Q3,67.01315,NaN
50604,LTU,EMP,WOMEN,PC_WKGPOP,Q,2015-Q4,67.10929,NaN
50605,LTU,EMP,WOMEN,PC_WKGPOP,Q,2016-Q1,68.11917,NaN
50606,LTU,EMP,WOMEN,PC_WKGPOP,Q,2016-Q2,68.85947,NaN
50607,LTU,EMP,WOMEN,PC_WKGPOP,Q,2016-Q3,69.10220,NaN
50608,LTU,EMP,WOMEN,PC_WKGPOP,Q,2016-Q4,69.29444,NaN
50609,LTU,EMP,WOMEN,PC_WKGPOP,Q,2017-Q1,69.12239,NaN
50610,LTU,EMP,WOMEN,PC_WKGPOP,Q,2017-Q2,70.67175,NaN
50611,LTU,EMP,WOMEN,PC_WKGPOP,Q,2017-Q3,70.44198,NaN
50612,LTU,EMP,WOMEN,PC_WKGPOP,Q,2017-Q4,70.62258,NaN
50613,LTU,EMP,WOMEN,PC_WKGPOP,Q,2018-Q1,70.41258,NaN
50614,LTU,EMP,WOMEN,PC_WKGPOP,Q,2018-Q2,70.81486,NaN
50615,LTU,EMP,WOMEN,PC_WKGPOP,Q,2018-Q3,72.89211,NaN
50616,LTU,EMP,WOMEN,PC_WKGPOP,Q,2018-Q4,72.16740,NaN
50617,LTU,EMP,WOMEN,PC_WKGPOP,Q,2019-Q1,72.19672,NaN

In [4]:
GDP_df=pd.read_csv(GDP_file)
GDP_df.head()

  LOCATION INDICATOR SUBJECT  MEASURE FREQUENCY  TIME       Value Flag Codes
0      AUS       GDP     TOT  MLN_USD         A  1960  25036.1668        NaN
1      AUS       GDP     TOT  MLN_USD         A  1961  25326.3822        NaN
2      AUS       GDP     TOT  MLN_USD         A  1962  27913.2057        NaN
3      AUS       GDP     TOT  MLN_USD         A  1963  30385.7232        NaN
4      AUS       GDP     TOT  MLN_USD         A  1964  32695.8783        NaN

In [5]:
GDP_new_df=GDP_df[["LOCATION","INDICATOR","SUBJECT","TIME","Value"]]
GDP_new_df.head()

  LOCATION INDICATOR SUBJECT  TIME       Value
0      AUS       GDP     TOT  1960  25036.1668
1      AUS       GDP     TOT  1961  25326.3822
2      AUS       GDP     TOT  1962  27913.2057
3      AUS       GDP     TOT  1963  30385.7232
4      AUS       GDP     TOT  1964  32695.8783

In [6]:
GDP_new_df=GDP_new_df.rename(columns={"Value":"GDP Value"})

In [7]:
employ_new_df=employ_df[["LOCATION","INDICATOR","SUBJECT","TIME","Value"]]
employ_new_df.head()

    LOCATION INDICATOR SUBJECT  TIME     Value
163      AUS       EMP     MEN  1979  82.10677
164      AUS       EMP     MEN  1980  82.25813
165      AUS       EMP     MEN  1981  82.32400
166      AUS       EMP     MEN  1982  80.50681
167      AUS       EMP     MEN  1983  76.92610

#### Cleaning

In [8]:
# Dropping the values where subject != Total (Men; Women)
# GDP_new_df = GDP_new_df.loc[GDP_new_df['SUBJECT'] == "TOT"]

employ_new_df = employ_new_df.loc[employ_new_df['SUBJECT'] == "TOT"]
employ_new_df.head()

    LOCATION INDICATOR SUBJECT  TIME     Value
203      AUS       EMP     TOT  1979  64.38335
204      AUS       EMP     TOT  1980  65.17445
205      AUS       EMP     TOT  1981  65.36742
206      AUS       EMP     TOT  1982  64.16441
207      AUS       EMP     TOT  1983  61.94022

In [9]:
#Employement has 2016-Q2 & 2016-12 data - need to get grouped, averaged out and replaced on yearly basis

employ_new_df['TIME'] = pd.to_datetime(employ_new_df['TIME']).apply(lambda x : pd.Period(x, freq='M').year)

#employ_new_df.groupby(['LOCATION'], ['TIME']).mean()
#employ_new_df.groupby(['LOCATION','TIME']).reset_index()
#employ_new_df = employ_new_df.groupby(('LOCATION', 'TIME'], as_index=False).agg({"Value": "sum"})

# employ_new_df= employ_new_df.groupby(['LOCATION','TIME'], as_index=False).agg({'Value':'mean'})
employ_new_df.head()

    LOCATION INDICATOR SUBJECT  TIME     Value
203      AUS       EMP     TOT  1979  64.38335
204      AUS       EMP     TOT  1980  65.17445
205      AUS       EMP     TOT  1981  65.36742
206      AUS       EMP     TOT  1982  64.16441
207      AUS       EMP     TOT  1983  61.94022

In [10]:
employ_new_df = employ_new_df.loc[employ_new_df['TIME'] >= 2000]
GDP_new_df = GDP_new_df.loc[GDP_new_df['TIME'] >= 2000]

In [11]:
combined = pd.merge(GDP_new_df, employ_new_df, 
                   on = ['TIME', 'LOCATION'])
combined

,LOCATION,INDICATOR_x,SUBJECT_x,TIME,GDP Value,INDICATOR_y,SUBJECT_y,Value
0,AUS,GDP,TOT,2000,5.377613e+05,EMP,TOT,69.09614
1,AUS,GDP,TOT,2000,5.377613e+05,EMP,TOT,68.51524
2,AUS,GDP,TOT,2000,5.377613e+05,EMP,TOT,69.11317
3,AUS,GDP,TOT,2000,5.377613e+05,EMP,TOT,69.65611
4,AUS,GDP,TOT,2000,5.377613e+05,EMP,TOT,69.05413
5,AUS,GDP,TOT,2000,5.377613e+05,EMP,TOT,68.29255
6,AUS,GDP,TOT,2000,5.377613e+05,EMP,TOT,68.52596
7,AUS,GDP,TOT,2000,5.377613e+05,EMP,TOT,68.72720
8,AUS,GDP,TOT,2000,5.377613e+05,EMP,TOT,69.04128
9,AUS,GDP,TOT,2000,5.377613e+05,EMP,TOT,69.01699
10,AUS,GDP,TOT,2000,5.377613e+05,EMP,TOT,69.28126
11,AUS,GDP,TOT,2000,5.377613e+05,EMP,TOT,69.74303
12,AUS,GDP,TOT,2000,5.377613e+05,EMP,TOT,69.68250
13,AUS,GDP,TOT,2000,5.377613e+05,EMP,TOT,69.54280
14,AUS,GDP,TOT,2000,5.377613e+05,EMP,TOT,69.30898
15,AUS,GDP,TOT,2000,5.377613e+05,EMP,TOT,68.82897
16,AUS,GDP,TOT,2000,5.377613e+05,EMP,TOT,69.02444
17,AUS,GDP,TOT,2000,2.826039e+04,EMP,TOT,69.09614
18,AUS,GDP,TOT,2000,2.826039e+04,EMP,TOT,68.51524
19,AUS,GDP,TOT,2000,2.826039e+04,EMP,TOT,69.11317
20,AUS,GDP,TOT,2000,2.826039e+04,EMP,TOT,69.65611
21,AUS,GDP,TOT,2000,2.826039e+04,EMP,TOT,69.05413
22,AUS,GDP,TOT,2000,2.826039e+04,EMP,TOT,68.29255
23,AUS,GDP,TOT,2000,2.826039e+04,EMP,TOT,68.52596
24,AUS,GDP,TOT,2000,2.826039e+04,EMP,TOT,68.72720
25,AUS,GDP,TOT,2000,2.826039e+04,EMP,TOT,69.04128
26,AUS,GDP,TOT,2000,2.826039e+04,EMP,TOT,69.01699
27,AUS,GDP,TOT,2000,2.826039e+04,EMP,TOT,69.28126
28,AUS,GDP,TOT,2000,2.826039e+04,EMP,TOT,69.74303
29,AUS,GDP,TOT,2000,2.826039e+04,EMP,TOT,69.68250
...,...,...,...,...,...,...,...,...
9889,EA19,GDP,TOT,2016,1.456364e+07,EMP,TOT,65.42500
9890,EA19,GDP,TOT,2016,1.456364e+07,EMP,TOT,65.09731
9891,EA19,GDP,TOT,2016,1.456364e+07,EMP,TOT,65.32055
9892,EA19,GDP,TOT,2016,1.456364e+07,EMP,TOT,65.56524
9893,EA19,GDP,TOT,2016,1.456364e+07,EMP,TOT,65.72289
9894,EA19,GDP,TOT,2016,4.282311e+04,EMP,TOT,65.42500
9895,EA19,GDP,TOT,2016,4.282311e+04,EMP,TOT,65.09731
9896,EA19,GDP,TOT,2016,4.282311e+04,EMP,TOT,65.32055
9897,EA19,GDP,TOT,2016,4.282311e+04,EMP,TOT,65.56524
9898,EA19,GDP,TOT,2016,4.282311e+04,EMP,TOT,65.72289
9899,EA19,GDP,TOT,2017,1.538969e+07,EMP,TOT,66.32500
9900,EA19,GDP,TOT,2017,1.538969e+07,EMP,TOT,65.96115
9901,EA19,GDP,TOT,2017,1.538969e+07,EMP,TOT,66.23904
9902,EA19,GDP,TOT,2017,1.538969e+07,EMP,TOT,66.46426
9903,EA19,GDP,TOT,2017,1.538969e+07,EMP,TOT,66.78058
9904,EA19,GDP,TOT,2017,4.516529e+04,EMP,TOT,66.32500
9905,EA19,GDP,TOT,2017,4.516529e+04,EMP,TOT,65.96115
9906,EA19,GDP,TOT,2017,4.516529e+04,EMP,TOT,66.23904
9907,EA19,GDP,TOT,2017,4.516529e+04,EMP,TOT,66.46426
9908,EA19,GDP,TOT,2017,4.516529e+04,EMP,TOT,66.78058
9909,EA19,GDP,TOT,2018,1.580501e+07,EMP,TOT,67.30000
9910,EA19,GDP,TOT,2018,1.580501e+07,EMP,TOT,66.94495
9911,EA19,GDP,TOT,2018,1.580501e+07,EMP,TOT,67.18583
9912,EA19,GDP,TOT,2018,1.580501e+07,EMP,TOT,67.39402
9913,EA19,GDP,TOT,2018,1.580501e+07,EMP,TOT,67.59810
9914,EA19,GDP,TOT,2018,4.629169e+04,EMP,TOT,67.30000
9915,EA19,GDP,TOT,2018,4.629169e+04,EMP,TOT,66.94495
9916,EA19,GDP,TOT,2018,4.629169e+04,EMP,TOT,67.18583
9917,EA19,GDP,TOT,2018,4.629169e+04,EMP,TOT,67.39402
9918,EA19,GDP,TOT,2018,4.629169e+04,EMP,TOT,67.59810